@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');


/* SE IMPORTAN LOS ARCHIVOS GENERALES DE STYLES.CSS */
body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", serif !important;
    font-weight: 600;
}