<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>INDEX – Login</title>
</head>
<body>

<div class="login">
    
      <div class="login-container">
        <h2>Iniciar sesión</h2>

        <form action="" method="">
           <label> Usuario o email
 <input type="text" name="usuario" placeholder="Usuario" required>

           </label> 
           

            <label> Contraseña
                 <input type="password" name="password" placeholder="Contraseña" required>
            </label>
           

            <button type="submit">Entrar</button>

        </form>

        <div class="login-footer">
            <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
            <p>Olvidado la contraseña <a href=""> Recuperar la contraseña</a></p>
           
        </div>
    </div>
</div>

</body>
</html>
